#right_panel_wrap {
}

#infoPanel {
    right: 0px;
    top: 0px;
	position: fixed;
    background-color: rgb(31, 31, 31);
	border: 2px solid rgba(185, 185, 26, 0.384);
	padding: 30px;
	height: 100vh;
    z-index: -10;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
}
