#right_info_wrap {
	width: 0%;
}

.floating_info {
	background-color: rgb(31, 31, 31);
	border: 2px solid rgba(185, 185, 26, 0.384);
	padding: 30px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0px;
}