#right_info_wrap {
}

.floating_info {
	background-color: rgb(31, 31, 31);
	padding: 30px;
	border-radius: 20px;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	right: 0px;
}