.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--muted_grey);
    @include sect_marg;
    height: 6vh;

    .page_title {
        font-size: 140%;
        font-weight: bold;
    }

    .page_link {
        margin-left: 40px;
    }

    a {
        color: var(--main_color);
        &:hover {
            color: var(--link_color);
        }
    }
}
