body {
	background-color: rgb(17, 22, 37);
	color: rgb(173, 173, 173);
}


button {
	background-color: rgb(106, 106, 233);
	border-radius: 20px;
	padding: 10px 20px;
	color: white;
	outline: none;
	text-decoration: none;
	border: none;
	transition: all .2s;

	&:hover {
		background-color: rgb(221, 170, 104);
	}
}

a {
	text-decoration: none;
	color: rgb(116, 116, 240);
	padding: 5px;
}

.container {
	margin: 0 10%;
}