.hoverInfo {
	z-index: 10;
	padding: 15px;
	width: 200px;
	border-radius: 20px;
	background-color: rgb(51, 51, 56);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;

	img {
		border-radius: 20px;
	}

	.title {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
	}

	.desc {
		font-size: 15px;
		font-style: italic;
		text-align: center;
	}
}